<fields>
	<!-- Map your field names to the appropriate field types defined below. -->
	<field name="Title" component="Text" />
  <field name="Copy" component="JssRichText" />
	<field name="Image" component="JssImage" />
	<field name="Link" component="JssLink" />
  
	<!-- WARNING: Changing these will probably break something. Change at your own risk. -->
	<components>
		<component name="Text" field="Field%3Cstring%3E" />
    <component name="JssRichText" field="Field%3Cstring%3E" />
    <component name="JssImage" field="ImageField" />
    <component name="JssLink" field="LinkField" />
	</components>
</fields>